Options -MultiViews

RewriteEngine On
RewriteBase /market/

# Remove index.html from URL (Redirect /market/index.html to /market/)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/market/index\.html [NC]
RewriteRule ^index\.html$ /market/ [R=301,L]

# Redirect all subpaths to index.html (SPA Flutter Web)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
